Demo-Bucket/test123.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "742f9d4e-cda1-30a1-9e0b-03c5b367aeb5" : {
          "identifier" : "742f9d4e-cda1-30a1-9e0b-03c5b367aeb5",
          "name" : "JsonTreeReader"
        },
        "8fe06e02-daa5-34c8-8beb-cc9b11dd9c7d" : {
          "identifier" : "8fe06e02-daa5-34c8-8beb-cc9b11dd9c7d",
          "name" : "JsonRecordSetWriterArray"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "0ca1b5ef-eccf-3d01-a73f-82bfc293d517",
            "instanceIdentifier" : "a2a27da2-0186-1000-9c9f-9d48bb3b59fd",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "c2b8608d-e9d1-3b49-bc9b-d5240c95fb94",
          "instanceIdentifier" : "a2a29b9a-0186-1000-ac92-4a926401ed57",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "merged" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "d0a69060-b7b0-32b8-8710-1f2bbfe16618",
            "instanceIdentifier" : "a29dd11d-0186-1000-a26e-0407f3a08787",
            "name" : "MergeRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "634a210f-151e-3fae-a809-2d26743abd94",
            "instanceIdentifier" : "a28eaf8c-0186-1000-5b02-d32b661c6fb3",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "07a2af59-0e50-3e46-b22e-c453ce79a3ff",
          "instanceIdentifier" : "a29399d6-0186-1000-e299-efdaf9c92fe8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "0e18558f-7559-3937-a9f2-0fff721cf9eb",
            "instanceIdentifier" : "a290bbf8-0186-1000-521d-d4009cab99e2",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "72c72f59-c055-3603-bc2a-d6559faca15d",
            "instanceIdentifier" : "a297fdaa-0186-1000-f0a9-62075780e80c",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "2748f5c9-9df4-395e-9e56-f4aad0b3fe76",
          "instanceIdentifier" : "a2a51a5f-0186-1000-45e9-8867246da9cf",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "0e18558f-7559-3937-a9f2-0fff721cf9eb",
            "instanceIdentifier" : "a290bbf8-0186-1000-521d-d4009cab99e2",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "c1935bcf-2449-35f8-b6dd-9bd32d4eab87",
            "instanceIdentifier" : "a2a35e30-0186-1000-87e1-381372b24071",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "eadd901c-e59a-3c3f-972f-52390d385828",
          "instanceIdentifier" : "a2a376d4-0186-1000-e392-8bac0a947dae",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "0ca1b5ef-eccf-3d01-a73f-82bfc293d517",
            "instanceIdentifier" : "a2a27da2-0186-1000-9c9f-9d48bb3b59fd",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "553bc5ee-d2d6-35c7-aa8d-f6d386b997b9",
            "instanceIdentifier" : "266e1a79-0189-1000-fe30-339c0ab43820",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "368d9b7e-5498-3822-8ac5-c0390895c9eb",
          "instanceIdentifier" : "266e4a64-0189-1000-52e4-d443d1993ddd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "72c72f59-c055-3603-bc2a-d6559faca15d",
            "instanceIdentifier" : "a297fdaa-0186-1000-f0a9-62075780e80c",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "b07ce395-13b5-35bb-a247-21625f516a1f",
            "instanceIdentifier" : "9ccbe3d8-0186-1000-9b52-9a0b3ddc99f2",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "482b7ce0-d32a-34a1-8425-2d4025861daa",
          "instanceIdentifier" : "9ccc635b-0186-1000-c137-74cccfad013c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "9ad8a83d-a8cf-3dce-ab8b-f6ad3a55800d",
            "instanceIdentifier" : "9cc0fa83-0186-1000-262e-1cfc58ee72a9",
            "name" : "GenerateTableFetch",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "9e231079-532c-3a0f-bf12-d68b81b7b893",
            "instanceIdentifier" : "b6de28b8-0186-1000-a20d-69be5ebe45ab",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "3ec93e70-8f82-3072-a814-5edb74e55e02",
          "instanceIdentifier" : "ba539cab-0186-1000-b0ed-47a184d90f95",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "b5d7a670-57e5-3b79-8d2b-dadeb51d1192",
            "instanceIdentifier" : "ba4fddc6-0186-1000-a25f-7cf96e4c4585",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "0e18558f-7559-3937-a9f2-0fff721cf9eb",
            "instanceIdentifier" : "a290bbf8-0186-1000-521d-d4009cab99e2",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "a755eae9-2fcd-3f9a-8977-91241545fea7",
          "instanceIdentifier" : "a290daa9-0186-1000-0d83-1ab0ac1d9428",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "e9d4417a-4366-3119-994c-e49afa647bd7",
            "instanceIdentifier" : "a28e45b1-0186-1000-ce8e-ac4401658ff0",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "72c72f59-c055-3603-bc2a-d6559faca15d",
            "instanceIdentifier" : "a297fdaa-0186-1000-f0a9-62075780e80c",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "beea175c-7a46-347c-9e58-90244f4a9776",
          "instanceIdentifier" : "a2984337-0186-1000-1e0a-174db9e736b7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "83f37441-68ac-36ce-abda-858af2463db1",
            "instanceIdentifier" : "a2977708-0186-1000-77a0-fba08c6cccc6",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "6afb83a4-116b-3194-9e10-d18453fb1bf0",
            "instanceIdentifier" : "baabd30b-0186-1000-5a18-dd2836fdec43",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "4c2a35bb-e7b3-300f-8338-d699d459e92e",
          "instanceIdentifier" : "baabef79-0186-1000-1a54-0b26f8960db8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "b2f165c7-9e62-3499-b1f6-19ff68804871",
            "instanceIdentifier" : "ba8b1a81-0186-1000-bef8-26e5749f77d9",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "634a210f-151e-3fae-a809-2d26743abd94",
            "instanceIdentifier" : "a28eaf8c-0186-1000-5b02-d32b661c6fb3",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "8e321bdf-4b70-3f23-8c1c-dc5e36b61247",
          "instanceIdentifier" : "a28f07bc-0186-1000-6619-ad2b033afb09",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "e9d4417a-4366-3119-994c-e49afa647bd7",
            "instanceIdentifier" : "a28e45b1-0186-1000-ce8e-ac4401658ff0",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "b5d7a670-57e5-3b79-8d2b-dadeb51d1192",
            "instanceIdentifier" : "ba4fddc6-0186-1000-a25f-7cf96e4c4585",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "16674c40-05d8-3755-88f6-d7eaba45e409",
          "instanceIdentifier" : "baaee30f-0186-1000-724e-f04558b6df17",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "6afb83a4-116b-3194-9e10-d18453fb1bf0",
            "instanceIdentifier" : "baabd30b-0186-1000-5a18-dd2836fdec43",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "72c72f59-c055-3603-bc2a-d6559faca15d",
            "instanceIdentifier" : "a297fdaa-0186-1000-f0a9-62075780e80c",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "325b5353-11fc-3746-8d52-2826f6d01189",
          "instanceIdentifier" : "a29825cc-0186-1000-64d2-51bb6b99e560",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "12c7a450-aaef-3336-9c7a-434368bdcb75",
            "instanceIdentifier" : "a2955c57-0186-1000-ca80-bbcdd24d7d05",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "9e231079-532c-3a0f-bf12-d68b81b7b893",
            "instanceIdentifier" : "b6de28b8-0186-1000-a20d-69be5ebe45ab",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "fcbe5509-8d5b-387f-9ddb-68051b684ba6",
          "instanceIdentifier" : "b6de679f-0186-1000-2d40-28314f0ceb66",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "a3e8b542-8210-3068-9f7c-9f13c9d9b56c",
            "instanceIdentifier" : "b6ddba57-0186-1000-9888-69235b45e54b",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "3013c3b6-13a6-3030-940a-18a9f096298e",
            "instanceIdentifier" : "a2992632-0186-1000-021d-3160c0b28b51",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "3c5404ea-710f-3b8f-ac38-ca14ec18f4e1",
          "instanceIdentifier" : "a299410b-0186-1000-ee65-b0015cb0f135",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "83f37441-68ac-36ce-abda-858af2463db1",
            "instanceIdentifier" : "a2977708-0186-1000-77a0-fba08c6cccc6",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "12c7a450-aaef-3336-9c7a-434368bdcb75",
            "instanceIdentifier" : "a2955c57-0186-1000-ca80-bbcdd24d7d05",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "5798c870-6c55-3dad-b752-0b24915ef421",
          "instanceIdentifier" : "a29579e3-0186-1000-dd4d-b36a742c8589",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "0e18558f-7559-3937-a9f2-0fff721cf9eb",
            "instanceIdentifier" : "a290bbf8-0186-1000-521d-d4009cab99e2",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "634a210f-151e-3fae-a809-2d26743abd94",
            "instanceIdentifier" : "a28eaf8c-0186-1000-5b02-d32b661c6fb3",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "6cf5c92d-dabb-3843-9401-5babbda837a4",
          "instanceIdentifier" : "a28ee066-0186-1000-bfb6-b5022680e4d0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "b07ce395-13b5-35bb-a247-21625f516a1f",
            "instanceIdentifier" : "9ccbe3d8-0186-1000-9b52-9a0b3ddc99f2",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "9e231079-532c-3a0f-bf12-d68b81b7b893",
            "instanceIdentifier" : "b6de28b8-0186-1000-a20d-69be5ebe45ab",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "925d0636-e985-3251-b2d5-c5e74244c8fd",
          "instanceIdentifier" : "b6de43de-0186-1000-6eb1-f23a20a2e760",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "c1935bcf-2449-35f8-b6dd-9bd32d4eab87",
            "instanceIdentifier" : "a2a35e30-0186-1000-87e1-381372b24071",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "9e231079-532c-3a0f-bf12-d68b81b7b893",
            "instanceIdentifier" : "b6de28b8-0186-1000-a20d-69be5ebe45ab",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "e157d96c-a7ac-3207-b092-3d215a0a0df9",
          "instanceIdentifier" : "bab44e90-0186-1000-bcb2-988cae5b9791",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "b2f165c7-9e62-3499-b1f6-19ff68804871",
            "instanceIdentifier" : "ba8b1a81-0186-1000-bef8-26e5749f77d9",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "d0a69060-b7b0-32b8-8710-1f2bbfe16618",
            "instanceIdentifier" : "a29dd11d-0186-1000-a26e-0407f3a08787",
            "name" : "MergeRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "c2d21501-b2b9-3503-8ae2-114f140faf53",
          "instanceIdentifier" : "a29fbb31-0186-1000-7a11-1d0371594334",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Instant Payout" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "3013c3b6-13a6-3030-940a-18a9f096298e",
            "instanceIdentifier" : "a2992632-0186-1000-021d-3160c0b28b51",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "634a210f-151e-3fae-a809-2d26743abd94",
            "instanceIdentifier" : "a28eaf8c-0186-1000-5b02-d32b661c6fb3",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "c5cc2c11-45b1-3b3b-aeb8-24fae30848d4",
          "instanceIdentifier" : "a28ecf2f-0186-1000-28e2-8f25e5e15d31",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "9ad8a83d-a8cf-3dce-ab8b-f6ad3a55800d",
            "instanceIdentifier" : "9cc0fa83-0186-1000-262e-1cfc58ee72a9",
            "name" : "GenerateTableFetch",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "e9d4417a-4366-3119-994c-e49afa647bd7",
            "instanceIdentifier" : "a28e45b1-0186-1000-ce8e-ac4401658ff0",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "5f387cde-18e6-3b58-9902-8b0ef44a0a54",
          "instanceIdentifier" : "a28e6cd3-0186-1000-6c39-7a92b663d7d6",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "b07ce395-13b5-35bb-a247-21625f516a1f",
            "instanceIdentifier" : "9ccbe3d8-0186-1000-9b52-9a0b3ddc99f2",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "a3e8b542-8210-3068-9f7c-9f13c9d9b56c",
            "instanceIdentifier" : "b6ddba57-0186-1000-9888-69235b45e54b",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "3d1aa218-18b9-3779-bc34-305ad68bd142",
          "instanceIdentifier" : "b6dddf43-0186-1000-e824-5cd6dc6d7822",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "c1935bcf-2449-35f8-b6dd-9bd32d4eab87",
            "instanceIdentifier" : "a2a35e30-0186-1000-87e1-381372b24071",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "b2f165c7-9e62-3499-b1f6-19ff68804871",
            "instanceIdentifier" : "ba8b1a81-0186-1000-bef8-26e5749f77d9",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "801284a9-426e-363f-b348-7ef10cf69adb",
          "instanceIdentifier" : "ba91bde5-0186-1000-1600-379526dfa6f3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "a3e8b542-8210-3068-9f7c-9f13c9d9b56c",
            "instanceIdentifier" : "b6ddba57-0186-1000-9888-69235b45e54b",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "9e231079-532c-3a0f-bf12-d68b81b7b893",
            "instanceIdentifier" : "b6de28b8-0186-1000-a20d-69be5ebe45ab",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "ee5c969b-b279-3f2c-bae7-b894459ed145",
          "instanceIdentifier" : "bab468ad-0186-1000-478f-b2820da4472b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "6afb83a4-116b-3194-9e10-d18453fb1bf0",
            "instanceIdentifier" : "baabd30b-0186-1000-5a18-dd2836fdec43",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "83f37441-68ac-36ce-abda-858af2463db1",
            "instanceIdentifier" : "a2977708-0186-1000-77a0-fba08c6cccc6",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "18178c1d-f570-3e9a-8f02-d587a118a926",
          "instanceIdentifier" : "a29794fa-0186-1000-20c3-f1c08ea21257",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "32e57247-dcc9-3c92-af4e-483319247cfe",
            "id" : "12c7a450-aaef-3336-9c7a-434368bdcb75",
            "instanceIdentifier" : "a2955c57-0186-1000-ca80-bbcdd24d7d05",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "a2ae751b-dc51-3bb0-9a96-043ea012e6cd",
          "instanceIdentifier" : "ba57a9d9-0186-1000-018b-b764cf319f42",
          "name" : "DBCPConnectionPool_Local",
          "properties" : {
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "com.mysql.jdbc.Driver",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "Max Total Connections" : "8",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "jdbc:mysql://localhost:3306/test",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "root",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "/home/vishal/Downloads/mysql-connector-java-8.0.30",
            "dbcp-max-idle-conns" : "8"
          },
          "propertyDescriptors" : {
            "kerberos-password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "kerberos-password",
              "sensitive" : true
            },
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "kerberos-principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "kerberos-principal",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "URL", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "3466d455-a3c6-3138-8dcb-11ca4d06d900",
          "instanceIdentifier" : "9cc1c350-0186-1000-8431-2e34a90c4219",
          "name" : "DBCPConnectionPool_Support_Staging",
          "properties" : {
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "com.mysql.jdbc.Driver",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "Max Total Connections" : "8",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "jdbc:mysql://172.50.3.197:3306/support_staging",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "root",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "/home/vishal/Downloads/mysql-connector-java-8.0.30",
            "dbcp-max-idle-conns" : "8"
          },
          "propertyDescriptors" : {
            "kerberos-password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "kerberos-password",
              "sensitive" : true
            },
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "kerberos-principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "kerberos-principal",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "URL", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
        "inputPorts" : [ ],
        "instanceIdentifier" : "9cc014db-0186-1000-5a69-f40a3fdc75e5",
        "labels" : [ ],
        "name" : "Support_ETL",
        "outputPorts" : [ ],
        "position" : {
          "x" : 616.0,
          "y" : 672.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "9ad8a83d-a8cf-3dce-ab8b-f6ad3a55800d",
          "instanceIdentifier" : "9cc0fa83-0186-1000-262e-1cfc58ee72a9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateTableFetch",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 112.0,
            "y" : 8.0
          },
          "properties" : {
            "gen-table-output-flowfile-on-zero-results" : "false",
            "Table Name" : "ticket_events",
            "db-fetch-db-type" : "MySQL",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "3466d455-a3c6-3138-8dcb-11ca4d06d900",
            "gen-table-fetch-partition-size" : "100",
            "Columns to Return" : "distinct ticket_id",
            "Maximum-value Columns" : "id",
            "gen-table-column-for-val-partitioning" : "id"
          },
          "propertyDescriptors" : {
            "gen-table-output-flowfile-on-zero-results" : {
              "displayName" : "Output Empty FlowFile on Zero Results",
              "identifiesControllerService" : false,
              "name" : "gen-table-output-flowfile-on-zero-results",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "db-fetch-db-type" : {
              "displayName" : "Database Type",
              "identifiesControllerService" : false,
              "name" : "db-fetch-db-type",
              "sensitive" : false
            },
            "gen-table-custom-orderby-column" : {
              "displayName" : "Custom ORDER BY Column",
              "identifiesControllerService" : false,
              "name" : "gen-table-custom-orderby-column",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "gen-table-fetch-partition-size" : {
              "displayName" : "Partition Size",
              "identifiesControllerService" : false,
              "name" : "gen-table-fetch-partition-size",
              "sensitive" : false
            },
            "Columns to Return" : {
              "displayName" : "Columns to Return",
              "identifiesControllerService" : false,
              "name" : "Columns to Return",
              "sensitive" : false
            },
            "Maximum-value Columns" : {
              "displayName" : "Maximum-value Columns",
              "identifiesControllerService" : false,
              "name" : "Maximum-value Columns",
              "sensitive" : false
            },
            "db-fetch-where-clause" : {
              "displayName" : "Additional WHERE clause",
              "identifiesControllerService" : false,
              "name" : "db-fetch-where-clause",
              "sensitive" : false
            },
            "gen-table-column-for-val-partitioning" : {
              "displayName" : "Column for Value Partitioning",
              "identifiesControllerService" : false,
              "name" : "gen-table-column-for-val-partitioning",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateTableFetch",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "0e18558f-7559-3937-a9f2-0fff721cf9eb",
          "instanceIdentifier" : "a290bbf8-0186-1000-521d-d4009cab99e2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteSQLRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 104.0,
            "y" : 688.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "esqlrecord-record-writer" : "8fe06e02-daa5-34c8-8beb-cc9b11dd9c7d",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "3466d455-a3c6-3138-8dcb-11ca4d06d900",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "true",
            "dbf-default-scale" : "0",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "select id, type from tickets where id in (${ticket_ids:replaceAll('[\\\"\\[\\]]','')})",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "d0a69060-b7b0-32b8-8710-1f2bbfe16618",
          "instanceIdentifier" : "a29dd11d-0186-1000-a26e-0407f3a08787",
          "maxBackoffPeriod" : "10 mins",
          "name" : "MergeRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 104.0,
            "y" : 1512.0
          },
          "properties" : {
            "Attribute Strategy" : "Keep Only Common Attributes",
            "min-records" : "1",
            "record-writer" : "8fe06e02-daa5-34c8-8beb-cc9b11dd9c7d",
            "merge-strategy" : "Bin-Packing Algorithm",
            "record-reader" : "742f9d4e-cda1-30a1-9e0b-03c5b367aeb5",
            "max-records" : "100",
            "min-bin-size" : "0 B",
            "max.bin.count" : "10"
          },
          "propertyDescriptors" : {
            "max-bin-age" : {
              "displayName" : "Max Bin Age",
              "identifiesControllerService" : false,
              "name" : "max-bin-age",
              "sensitive" : false
            },
            "correlation-attribute-name" : {
              "displayName" : "Correlation Attribute Name",
              "identifiesControllerService" : false,
              "name" : "correlation-attribute-name",
              "sensitive" : false
            },
            "Attribute Strategy" : {
              "displayName" : "Attribute Strategy",
              "identifiesControllerService" : false,
              "name" : "Attribute Strategy",
              "sensitive" : false
            },
            "min-records" : {
              "displayName" : "Minimum Number of Records",
              "identifiesControllerService" : false,
              "name" : "min-records",
              "sensitive" : false
            },
            "max-bin-size" : {
              "displayName" : "Maximum Bin Size",
              "identifiesControllerService" : false,
              "name" : "max-bin-size",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "merge-strategy" : {
              "displayName" : "Merge Strategy",
              "identifiesControllerService" : false,
              "name" : "merge-strategy",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "max-records" : {
              "displayName" : "Maximum Number of Records",
              "identifiesControllerService" : false,
              "name" : "max-records",
              "sensitive" : false
            },
            "min-bin-size" : {
              "displayName" : "Minimum Bin Size",
              "identifiesControllerService" : false,
              "name" : "min-bin-size",
              "sensitive" : false
            },
            "max.bin.count" : {
              "displayName" : "Maximum Number of Bins",
              "identifiesControllerService" : false,
              "name" : "max.bin.count",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.MergeRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "12c7a450-aaef-3336-9c7a-434368bdcb75",
          "instanceIdentifier" : "a2955c57-0186-1000-ca80-bbcdd24d7d05",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 104.0,
            "y" : 904.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.*"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "83f37441-68ac-36ce-abda-858af2463db1",
          "instanceIdentifier" : "a2977708-0186-1000-77a0-fba08c6cccc6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 104.0,
            "y" : 1120.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "type" : "$.type",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "type" : {
              "displayName" : "type",
              "identifiesControllerService" : false,
              "name" : "type",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "9e231079-532c-3a0f-bf12-d68b81b7b893",
          "instanceIdentifier" : "b6de28b8-0186-1000-a20d-69be5ebe45ab",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 848.0,
            "y" : 2232.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "553bc5ee-d2d6-35c7-aa8d-f6d386b997b9",
          "instanceIdentifier" : "266e1a79-0189-1000-fe30-339c0ab43820",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1760.0,
            "y" : 736.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "b2f165c7-9e62-3499-b1f6-19ff68804871",
          "instanceIdentifier" : "ba8b1a81-0186-1000-bef8-26e5749f77d9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 120.0,
            "y" : 2304.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "invoice_created_at" : "$.invoice_created_at",
            "invoice_updated_at" : "$.invoice_updated_at",
            "Return Type" : "auto-detect",
            "group_updation_date" : "$.group_updation_date",
            "group_creation_date" : "$.group_creation_date",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "invoice_created_at" : {
              "displayName" : "invoice_created_at",
              "identifiesControllerService" : false,
              "name" : "invoice_created_at",
              "sensitive" : false
            },
            "invoice_updated_at" : {
              "displayName" : "invoice_updated_at",
              "identifiesControllerService" : false,
              "name" : "invoice_updated_at",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "group_updation_date" : {
              "displayName" : "group_updation_date",
              "identifiesControllerService" : false,
              "name" : "group_updation_date",
              "sensitive" : false
            },
            "group_creation_date" : {
              "displayName" : "group_creation_date",
              "identifiesControllerService" : false,
              "name" : "group_creation_date",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "634a210f-151e-3fae-a809-2d26743abd94",
          "instanceIdentifier" : "a28eaf8c-0186-1000-5b02-d32b661c6fb3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 808.0,
            "y" : 320.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "0ca1b5ef-eccf-3d01-a73f-82bfc293d517",
          "instanceIdentifier" : "a2a27da2-0186-1000-9c9f-9d48bb3b59fd",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 104.0,
            "y" : 1696.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Return Type" : "json",
            "ids" : "$[*].id",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "ids" : {
              "displayName" : "ids",
              "identifiesControllerService" : false,
              "name" : "ids",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "a3e8b542-8210-3068-9f7c-9f13c9d9b56c",
          "instanceIdentifier" : "b6ddba57-0186-1000-9888-69235b45e54b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 112.0,
            "y" : 2072.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.*"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "c1935bcf-2449-35f8-b6dd-9bd32d4eab87",
          "instanceIdentifier" : "a2a35e30-0186-1000-87e1-381372b24071",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteSQLRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 112.0,
            "y" : 1880.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "esqlrecord-record-writer" : "8fe06e02-daa5-34c8-8beb-cc9b11dd9c7d",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "3466d455-a3c6-3138-8dcb-11ca4d06d900",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "SELECT\ntickets.id as ticket_id,\nticket_master_groups.id as group_id,\nticket_master_groups.category_id,\nticket_master_groups.sub_category_id,\nticket_master_groups.gcd_code,\nticket_master_groups.gcd_name,\nticket_master_groups.group_type,\nticket_master_groups.status_id as group_status,\nticket_master_groups.creator_iam_id,\nticket_master_groups.channel_iam_id,\nticket_master_groups.created_at as group_creation_date,\nticket_master_groups.updated_at as group_updation_date,\ntickets.itms_request_id,\ntickets.commission_points,\ntickets.domain_id,\ntickets.insurer_id,\ntickets.old_policy_number as policy_number,\ntickets.source,\ntickets.sub_source,\ntickets.product_type_id,\ntickets.source_creator_id,\ntickets.case_type_id,\ntickets.endorsed_date,\ntickets.monetary_type_id,\ntickets.transaction_id,\ntickets.parent_ticket_id,\ntickets.policy_type,\ntickets.fresh_desk_ticket_id,\ntickets.fresh_desk_expected_closing_on,\ntickets.fresh_desk_ticket_status,\ntickets.insurer_request_id,\ntickets.requester_id,\ntickets.is_financial,\ntickets.insurer_needed,\ntickets.status as ticket_status,\ntickets.sub_status_id,\ntickets.is_approver_assigned,\ntickets.created_by,\ntickets.created_at,\ntickets.updated_at,\ntickets.created_source,\ntickets.sub_type,\ntickets.support_cancellation_reason_id,\ntickets.policy_mode,\nticket_insurance_approval_log.approver_type_id,\nticket_insurance_approval_log.approver_user_id,\nticket_insurance_approval_log.is_latest,\nticket_invoice.invoice_id,\nticket_invoice.invoice_type,\nticket_invoice.invoice_number,\nticket_invoice.created_at as invoice_created_at,\nticket_invoice.updated_at as invoice_updated_at,\nvehicles.reg_no\nfrom\n  ticket_master_groups\n  left join tickets on tickets.group_id = ticket_master_groups.id\n  left join ticket_invoice on tickets.group_id = ticket_invoice.group_id\n  left join vehicles on vehicles.id = tickets.vehicle_id\n  left join ticket_insurance_approval_log on (\n    ticket_insurance_approval_log.ticket_id = tickets.id\n    AND ticket_insurance_approval_log.is_latest = 1\n  )\nwhere\n  ticket_master_groups.group_type in (\"REDEMPTION\",\"dispute\")\n  AND tickets.id in (${ids:replaceAll('[\\\"\\[\\]]', '')})",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "72c72f59-c055-3603-bc2a-d6559faca15d",
          "instanceIdentifier" : "a297fdaa-0186-1000-f0a9-62075780e80c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 760.0,
            "y" : 968.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "6afb83a4-116b-3194-9e10-d18453fb1bf0",
          "instanceIdentifier" : "baabd30b-0186-1000-5a18-dd2836fdec43",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 120.0,
            "y" : 2504.0
          },
          "properties" : {
            "/group_creation_date" : "${group_creation_date:isEmpty():not():ifElse(${group_creation_date:format(\"yyyy-MM-dd HH:mm:ss\")},${group_creation_date})}",
            "record-writer" : "8fe06e02-daa5-34c8-8beb-cc9b11dd9c7d",
            "record-reader" : "742f9d4e-cda1-30a1-9e0b-03c5b367aeb5",
            "replacement-value-strategy" : "literal-value",
            "/invoice_updated_at" : "${invoice_updated_at:isEmpty():not():ifElse(${invoice_updated_at:format(\"yyyy-MM-dd HH:mm:ss\")},${invoice_updated_at})}",
            "/invoice_created_at" : "${invoice_created_at:isEmpty():not():ifElse(${invoice_created_at:format(\"yyyy-MM-dd HH:mm:ss\")},${invoice_created_at})}",
            "/group_updation_date" : "${group_updation_date:isEmpty():not():ifElse(${group_updation_date:format(\"yyyy-MM-dd HH:mm:ss\")},${group_updation_date})}"
          },
          "propertyDescriptors" : {
            "/group_creation_date" : {
              "displayName" : "/group_creation_date",
              "identifiesControllerService" : false,
              "name" : "/group_creation_date",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            },
            "/invoice_updated_at" : {
              "displayName" : "/invoice_updated_at",
              "identifiesControllerService" : false,
              "name" : "/invoice_updated_at",
              "sensitive" : false
            },
            "/invoice_created_at" : {
              "displayName" : "/invoice_created_at",
              "identifiesControllerService" : false,
              "name" : "/invoice_created_at",
              "sensitive" : false
            },
            "/group_updation_date" : {
              "displayName" : "/group_updation_date",
              "identifiesControllerService" : false,
              "name" : "/group_updation_date",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "b5d7a670-57e5-3b79-8d2b-dadeb51d1192",
          "instanceIdentifier" : "ba4fddc6-0186-1000-a25f-7cf96e4c4585",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutDatabaseRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 120.0,
            "y" : 2704.0
          },
          "properties" : {
            "put-db-record-allow-multiple-statements" : "false",
            "table-schema-cache-size" : "100",
            "put-db-record-schema-name" : "test",
            "put-db-record-quoted-table-identifiers" : "false",
            "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
            "put-db-record-translate-field-names" : "true",
            "put-db-record-dcbp-service" : "a2ae751b-dc51-3bb0-9a96-043ea012e6cd",
            "put-db-record-query-timeout" : "0 seconds",
            "rollback-on-failure" : "false",
            "put-db-record-statement-type" : "UPSERT",
            "db-type" : "MySQL",
            "put-db-record-update-keys" : "ticket_id,group_id,invoice_id",
            "put-db-record-quoted-identifiers" : "false",
            "put-db-record-table-name" : "support_instant_payout",
            "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
            "put-db-record-max-batch-size" : "0",
            "put-db-record-record-reader" : "742f9d4e-cda1-30a1-9e0b-03c5b367aeb5"
          },
          "propertyDescriptors" : {
            "put-db-record-allow-multiple-statements" : {
              "displayName" : "Allow Multiple SQL Statements",
              "identifiesControllerService" : false,
              "name" : "put-db-record-allow-multiple-statements",
              "sensitive" : false
            },
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "put-db-record-schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-schema-name",
              "sensitive" : false
            },
            "put-db-record-field-containing-sql" : {
              "displayName" : "Field Containing SQL",
              "identifiesControllerService" : false,
              "name" : "put-db-record-field-containing-sql",
              "sensitive" : false
            },
            "put-db-record-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-table-identifiers",
              "sensitive" : false
            },
            "Statement Type Record Path" : {
              "displayName" : "Statement Type Record Path",
              "identifiesControllerService" : false,
              "name" : "Statement Type Record Path",
              "sensitive" : false
            },
            "put-db-record-unmatched-column-behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-column-behavior",
              "sensitive" : false
            },
            "put-db-record-catalog-name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-catalog-name",
              "sensitive" : false
            },
            "put-db-record-translate-field-names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "put-db-record-translate-field-names",
              "sensitive" : false
            },
            "put-db-record-dcbp-service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "put-db-record-dcbp-service",
              "sensitive" : false
            },
            "put-db-record-query-timeout" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "put-db-record-query-timeout",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            },
            "put-db-record-statement-type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "put-db-record-statement-type",
              "sensitive" : false
            },
            "db-type" : {
              "displayName" : "Database Type",
              "identifiesControllerService" : false,
              "name" : "db-type",
              "sensitive" : false
            },
            "put-db-record-update-keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "put-db-record-update-keys",
              "sensitive" : false
            },
            "put-db-record-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-identifiers",
              "sensitive" : false
            },
            "put-db-record-table-name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-table-name",
              "sensitive" : false
            },
            "put-db-record-unmatched-field-behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-field-behavior",
              "sensitive" : false
            },
            "put-db-record-max-batch-size" : {
              "displayName" : "Maximum Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-db-record-max-batch-size",
              "sensitive" : false
            },
            "put-db-record-record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "put-db-record-record-reader",
              "sensitive" : false
            },
            "Data Record Path" : {
              "displayName" : "Data Record Path",
              "identifiesControllerService" : false,
              "name" : "Data Record Path",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "3013c3b6-13a6-3030-940a-18a9f096298e",
          "instanceIdentifier" : "a2992632-0186-1000-021d-3160c0b28b51",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 104.0,
            "y" : 1320.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "Instant Payout" : "${type:equals(\"REDEMPTION\"):or(${type:equals(\"dispute\")})}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "Instant Payout" : {
              "displayName" : "Instant Payout",
              "identifiesControllerService" : false,
              "name" : "Instant Payout",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "b07ce395-13b5-35bb-a247-21625f516a1f",
          "instanceIdentifier" : "9ccbe3d8-0186-1000-9b52-9a0b3ddc99f2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteSQLRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 112.0,
            "y" : 240.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "esqlrecord-record-writer" : "8fe06e02-daa5-34c8-8beb-cc9b11dd9c7d",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "3466d455-a3c6-3138-8dcb-11ca4d06d900",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32e57247-dcc9-3c92-af4e-483319247cfe",
          "identifier" : "e9d4417a-4366-3119-994c-e49afa647bd7",
          "instanceIdentifier" : "a28e45b1-0186-1000-ce8e-ac4401658ff0",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 104.0,
            "y" : 448.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "ticket_ids" : "$[*].ticket_id",
            "Return Type" : "json",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "ticket_ids" : {
              "displayName" : "ticket_ids",
              "identifiesControllerService" : false,
              "name" : "ticket_ids",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}